# Lab 2 - Programming with Empty Classes

We program with objects belonging to empty classes.

## Preparatory Work
Do exercises L2.1 and L2.2 to prepare for the Lab Check.

### L2.1 All the same

Like all types, empty classes have plain assignment = and identicality ==.

Additionally, every class in Java inherits `equals` from the built-in class `Object`.
The `equals` an empty class inherits from `Object` uses == and so, **for empty classes**,
identicality (using ==) and equality (using `equals`) behave the same.

Write four procedures that return true iff all three arguments are the same,
two that use == and two that use equals(),
two typed with a type parameter and two typed with Object.

Name them `allIdenticalT`, `allIdenticalO`, `allEqualT` and `allEqualO`. 
Stubs for the first and last are provided. For the second and third, just the interface is provided.

In [3]:
<T> boolean allIdenticalT(T a0, T a1, T a2) {
    
    boolean r = false; // Which default makes your code simpler?
    
    // Add code here to set r using ==.
        
    return r;
}

In [ ]:
boolean allIdenticalO(Object a0, Object a1, Object a2)

In [ ]:
<T> boolean allEqualT(T a0, T a1, T a2)

In [148]:
boolean allEqualO(Object a0, Object a1, Object a2) {
    
    boolean r = false;
    
    // Add code here to set r using equals().

    return r;
}

Can you find any differences in the behaviour of the four procedures using instances of empty classes? Here are some classes and objects to play with.

In [121]:
class Node { }
Node x = new Node();
Node y = new Node();

class Element { }
Element a = new Element();
Element b = new Element();

In [122]:
Object t0 = x, t1 = x, t2 = a; // Try different objects for t0, t1 and t2.

In [123]:
allIdenticalT(t0, t1, t2)

true

In [124]:
allIdenticalO(t0, t1, t2)

true

In [125]:
allEqualT(t0, t1, t2)

true

In [126]:
allEqualO(t0, t1, t2)

true

Notice that, with the class String (which is not at all empty), identically and equality behave differently.

In [4]:
String s1 = new String("s");
String s2 = new String("s");

In [5]:
allIdenticalT(s1, s1, s2) // Should give false.

false

In [129]:
allEqualT(s1, s1, s2) // Should give true.

true

### L2.2 - All Different

Write a procedure `allUnequal` that returns true iff all three arguments are unequal (no two are equal).

You may type your procedure with a variable type T or with the universal super-class Object, your choice.

In [130]:
<T> boolean allUnequal(T a0, T a1, T a2) {
    
    boolean r = ? // Which default makes your code simpler?
    
    // Add code here to set r using equals or !equals.
        
    return r;
}

## Lab Check

For the Lab Check you will be asked to write a procedure that takes an array of objects 
and returns true iff the elements of the array are all distinct (no two are identical). 
This requires a for-loop in a for-loop.

To prepare for the closed-book Tests, try your best to do the Lab Check entirely from your head, without talking to anyone or looking at anything else and certainly without cut-and-pasting from anywhere.

[Lab Check 2](https://qmplus.qmul.ac.uk/mod/quiz/view.php?id=2176376)

If you are unable to pass the Lab Check Quiz, see a demonstrator to pass a Lab Check Viva and have your name taken down for credit.

## Work Proper
Now that you are warmed up, have a go with the following exercises. 

Do as much as you can and then **please do the [Lab Survey](https://qmplus.qmul.ac.uk/mod/questionnaire/view.php?id=2176439) before leaving**.

### L2.3 The Birthday Paradox

Write a procedure `twoEqual` that takes an array and returns true iff at least two elements are equal.

In [12]:
<T> boolean twoEqual(T[] a) {
    boolean r = false;
       
    // Loop that geos through the places of a.
        // Loop that goes through the places of a _stricly_below the current place.
            // Set r true if the two places are equal.
        
    return r;
}

In [37]:
Integer[] testArray = {1, 2, 3, 8, 5, 6, 7, 8, 9}; // Change this to test your procedure.
twoEqual(testArray)

true

Now let's see if two people in a room have the same birthday. Play with NUMBER_OF_PEOPLE.

In [29]:
class Birthday { }
Birthday[] birthdays = new Birthday[366]; // 366 possible birthdays.
for(int i=0;i<birthdays.length;i++) { birthdays[i] = new Birthday();}

int NUMBER_OF_PEOPLE = 23; // 23 people in a room.
Birthday[] peoplesBirthdays = new Birthday[NUMBER_OF_PEOPLE];
for(int i=0;i<peoplesBirthdays.length;i++) {
    peoplesBirthdays[i] = birthdays[(new Random()).nextInt(birthdays.length)];
}
twoEqual(peoplesBirthdays) // How likely is this?

true

Let's answer the probability question empirically.

In [34]:
int count = 0;
for (int n=0; n < 100000; n++) {
    for(int i=0;i<peoplesBirthdays.length;i++) {
        peoplesBirthdays[i] = birthdays[(new Random()).nextInt(birthdays.length)];
    }
    if (twoEqual(peoplesBirthdays)) count++;
}
System.out.println("It happened "+count/1000.0+" percent of the time.");

It happened 50.675 percent of the time.

### Algorithms

Now that we've done different (= no two the same), let's do how many different.

#### L2.4 - Nullifying duplicates

Write a procedure `nullifyDuplicates` that takes an array of objects 
and puts a `null' in place of any element that is equal to an earlier element. For example, given
```
array = { 2, 3, 2, 5, 2, 5}
``` 
after calling `nullifyDuplicates(array)` the array should contain
```
{ 2, 3, null, 5, null, null}  
```

In [131]:
<T> void nullifyDuplicates(T[] a) {
    
    // Loop that goes through a.
        // Loop that checks earlier elements.
        
}

In [132]:
<T> void printArray(T[] a) {
    System.out.print("{ ");
    for (int i=0;i<a.length;i++) 
        System.out.print(a[i]+", ");
    System.out.print("}");
}

In [133]:
Integer[] array = { 2, 3, 2, 5, 2, 5};
nullifyDuplicates(array);
printArray(array)// Should print { 2, 3, null, 5, null, null, }

{ 2, 3, 2, 5, 2, 5, }

#### L2.5 Count different items

Write a procedure `countDifferent` that takes an array 
and counts how many different (= unequal) elements the array contains.
For example, given
```
array = { "dua", "tiga", "dua", "dua", "dua", "lima"}
``` 
evaluating `countDifferent(array)` should give 3.

In [134]:
<T> int countDifferent(T[] a) {
    
    int r = a.length;
    
    // Loop that goes through a.
        // Loop that checks earlier elements.
    
    return r;    
}

In [135]:
String[] array = { "dua", "tiga", "dua", "dua", "dua", "lima"};

countDifferent(array) // Should print 3.

6

In [136]:
Double[] array = { 2.0, 3.0, 2.0, 2.0, 2.0, 5.0};

countDifferent(array) // Should print 3.

6

#### L2.6 Remove duplicates

Java has some issues with generic code returning arrays (as we saw in Lab 1), 
so we shall specialise to the empty class Node.

Write a procedure `duplicatesRemoved` that takes an array of Node objects 
and returns a new array containing the same objects but without duplicates.
For example, given
```
Node n0 = new Node(), n1 = new Node(), n2 = new Node();

Node[] array = { n2, n1, n2, n1, n2, n0};
``` 
the call `duplicatesRemoved(array)` should return an array equivalent, element-wise, to 
```
{ n2, n1, n0}
```

In [137]:
Node[] duplicatesRemoved(Node[] a) {
    
    final int n = countDifferent(a);
    Node[] r = new Node[n];
    
    // Loop that goes through a.
        // Loop that checks earlier elements.
    
    return r;
}

In [138]:
<T> boolean equalArrays(T[] a, T[] b) {
    if (a.length != b.length) return false;
    boolean r = true;
    for (int i=0;i<a.length;i++) 
        r = r && a[i] == b[i];
    return r;
}

In [139]:
Node n0 = new Node(), n1 = new Node(), n2 = new Node();
Node[] testArray  = { n2, n1, n2, n1, n2, n0};
Node[] correctArrayOut = { n2, n1, n0};

equalArrays(duplicatesRemoved(testArray), correctArrayOut) // Should print true.

false

#### L2.7 Set equality

Write a procedure `equalSetOfElements` that takes two arrays
and returns true iff each element in the one is equal to some element in the other and vise versa.
For example, given
```
array1 = { 2, 3, 2, 5, 2, 5};

array2 = { 5, 2, 3, 2};
``` 
`equalSetOfElements(array1, array2)` should give true.

In [140]:
<T> boolean allAmong(T[] a1, T[] a2) {
    boolean r = true;
    
    // Loop that goes through a1.
        // Loop that checks if current element of a1 is in a2.
        // Set r to false if not in.
    
    return r;
}

<T> boolean equalSetOfElements(T[] a1, T[] a2) {
    return allAmong(a1,a2) && allAmong(a2,a1);
}

In [141]:
Integer[] array1 = { 2, 3, 2, 5, 2, 5};

Integer[] array2 = { 5, 2, 2};

equalSetOfElements(array1,array2); // Should return false.

true

We can use `equalSetOfElements` to test `duplicatesRemoved`.

In [146]:
Node[] n = {new Node(), new Node(), new Node()};
Node[] ta = new Node[5]; for(int i=0;i<5;i++)ta[i]=n[(new Random()).nextInt(3)];

equalSetOfElements(duplicatesRemoved(ta), ta) // Should always return true.

true

### Abstraction

We replace the `int` of Lab 1 with an empty class.

#### L2.8 - Representing truth values

In Lab 1 we used the type `int` abstractly. Now we replace `int` with an empty class. Thanks to `new`, we no longer have to worry about winning a lottery. Life is always simpler when you don't have to worry about winning a lottery.

In [38]:
class TruthValue { }
TruthValue TRUE = new TruthValue(); // Use a TruthValue to represent true.
TruthValue FALSE = new TruthValue(); // Use some other TruthValue to represent false.

Now write a function that converts the TruthValue in TRUE to the string "true" and converts the one in FALSE to "false". It should return "NaTV" on any other TruthValue.

In [39]:
String truthValueToString(TruthValue v) {
    String r = "NaTV";
    
    // Go get your code from Lab 1 - it works here becasue it is abstract.
    
    return r;
}

In [40]:
truthValueToString(TRUE) // Should evaluate to "true".

NaTV

In [41]:
truthValueToString(FALSE); // Should evaluate to "false".

NaTV

In [42]:
truthValueToString(new TruthValue()); // Should print "NaTV".

NaTV

#### L2.9 - Boolean operations

Write a logical 'and' function and use your `truthValueToString` to check it works.

In [45]:
TruthValue booleanAnd(TruthValue a, TruthValue b) {
    
    TruthValue r = FALSE; // Or should the default be TRUE?
    
    // Go get your code from Lab 1 - it works here becasue it is abstract.
    
    return r;
}

In [46]:
truthValueToString(booleanAnd(TRUE, TRUE)) // Should give "true".

NaTV

In [47]:
truthValueToString(booleanAnd(TRUE, FALSE)) // Should give "false".

NaTV

In [48]:
truthValueToString(booleanAnd(FALSE, TRUE)) // Should give "false".

NaTV

In [49]:
truthValueToString(booleanAnd(FALSE, FALSE)) // Should give "false".

NaTV

In [51]:
truthValueToString(booleanAnd(new TruthValue(), FALSE)) // What should this give? What does it give?

NaTV

#### L1.10 - Introducing a new truth value

Let's provide a representation for a new truth value, MAYBE.

In [52]:
TruthValue MAYBE = new TruthValue();

We will need to extend - note the word extend! - our translation to String.

In [53]:
String truthValueToString(TruthValue v) {
    String r = "NaTV";
    
    // Go get your code from Lab 1 - it works here becasue it is abstract.
     
    return r;
}

Did you write your code for `booleanAnd` in a way that makes the tests below behave as you would expect for MAYBE?

In [54]:
truthValueToString(booleanAnd(MAYBE, TRUE)) // What does this give? What should it give?

NaTV

In [55]:
truthValueToString(booleanAnd(TRUE, MAYBE)) // What does this give? What should it give?

NaTV

In [55]:
truthValueToString(booleanAnd(MAYBE, FALSE)) // What does this give? What should it give?

NaTV

In [55]:
truthValueToString(booleanAnd(FALSE, MAYBE)) // What does this give? What should it give?

NaTV

#### L2.11 - A node class for the states of a FSA

Now that you have seen how to use an empty class in place of `int`, 
rewrite the class FSA from ECS421U Automata and Formal Languages using the emtpy class Node (below) in place of `int` for the states of an automaton.

In [ ]:
class Node { }

In class FSA, replace
```
        public int numStates;
        public String alphabet[];
        public Transition delta[];
        public int finalStates[];
```
with
```
        public Node states[];
        public String alphabet[];
        public Transition delta[];
        public Node initialState;
        public Node finalStates[];
```
and replace 
```
        public FSA(int n, String[] a, Transition[] d, int[] f)
        {
            numStates = n;
            alphabet = a;
            finalStates = f;
            delta = d;
        }
```
with
```
        public FSA(int n, String[] a, Transition[] d, int[] f)
        {
            states = new Node[n];
            alphabet = a;
            initialState = states[0]
            finalStates = f;
            delta = d;
        }
```
adjusting the rest of code to fit 
(including the class Transition, which will use `Node` in place of `int`).

The next step would be to replace the checks with 
```
        public FSA()
        {
            states = new Node[1];
            alphabet = new String[0];
            initialState = states[0]
            finalStates = new Node[0];
            delta = new Transition[0];
        }
```
together with 'add' methods, such as
```
addTransition(Transition e) {...}
```
so that there is no way to create an invalid FSA in the first place.

It's a whole little project. If there is interest, we can run a tutorial - let us know on the Lab Survey.